.vs/message-broker-client/FileContentIndex/2fa589de-cf08-45b2-a6c2-d25f3a0a3eb7.vsidx
.vs/message-broker-client/v17/.suo
.vs/message-broker-client/v17/Browse.VC.db
.vs/message-broker-client/v17/ipch/AutoPCH/4a27554474524673/CLIENT.ipch
.vs/message-broker/FileContentIndex/2e3b4768-7150-4217-881f-97b418dc1747.vsidx
.vs/message-broker/v17/.suo
.vs/message-broker/v17/Browse.VC.db
.vs/message-broker/v17/Browse.VC.db-shm
.vs/message-broker/v17/Browse.VC.db-wal
.vs/message-broker/v17/Browse.VC.opendb
.vs/message-broker/v17/ipch/AutoPCH/123a0f8c71a897e1/BROKER.ipch
.vs/message-broker/v17/ipch/AutoPCH/5bcd0a0d764a944/COMMAND_HANDLER.ipch
message-broker-client/x64/Debug/client.obj
message-broker-client/x64/Debug/message-.2d50913e.tlog/CL.command.1.tlog
message-broker-client/x64/Debug/message-.2d50913e.tlog/Cl.items.tlog
message-broker-client/x64/Debug/message-.2d50913e.tlog/CL.read.1.tlog
message-broker-client/x64/Debug/message-.2d50913e.tlog/CL.write.1.tlog
message-broker-client/x64/Debug/message-.2d50913e.tlog/link.command.1.tlog
message-broker-client/x64/Debug/message-.2d50913e.tlog/link.read.1.tlog
message-broker-client/x64/Debug/message-.2d50913e.tlog/link.write.1.tlog
message-broker-client/x64/Debug/message-.2d50913e.tlog/message-broker-client.lastbuildstate
message-broker-client/x64/Debug/message-broker-client.exe.recipe
message-broker-client/x64/Debug/message-broker-client.ilk
message-broker-client/x64/Debug/message-broker-client.log
message-broker-client/x64/Debug/vc143.idb
message-broker-client/x64/Debug/vc143.pdb
message-broker/x64/Debug/broker.obj
message-broker/x64/Debug/broker2.obj
message-broker/x64/Debug/buffer_pool.h.ifc
message-broker/x64/Debug/buffer_pool.h.ifc.d.json
message-broker/x64/Debug/buffer_pool.h.module.json
message-broker/x64/Debug/buffer_pool.h.obj
message-broker/x64/Debug/buffer_pool.h_46F8336DB0A88494.ifc.dt.d.json
message-broker/x64/Debug/buffer_pool.h_46F8336DB0A88494.ifc.dt.module.json
message-broker/x64/Debug/buffer_pool.h_46F8336DB0A88494.ifc.dt.module.json.command
message-broker/x64/Debug/buffer_pool.h_B437079C65414312.ifc.dt.d.json
message-broker/x64/Debug/buffer_pool.h_B437079C65414312.ifc.dt.module.json
message-broker/x64/Debug/buffer_pool.h_B437079C65414312.ifc.dt.module.json.command
message-broker/x64/Debug/buffer_pool.obj
message-broker/x64/Debug/command.h.ifc
message-broker/x64/Debug/command.h.ifc.d.json
message-broker/x64/Debug/command.h.module.json
message-broker/x64/Debug/command.h.obj
message-broker/x64/Debug/command.h_5EEC9D314797F87A.ifc.dt.d.json
message-broker/x64/Debug/command.h_5EEC9D314797F87A.ifc.dt.module.json
message-broker/x64/Debug/command.h_5EEC9D314797F87A.ifc.dt.module.json.command
message-broker/x64/Debug/command.obj
message-broker/x64/Debug/command_handler.obj
message-broker/x64/Debug/consumer.obj
message-broker/x64/Debug/main.obj
message-broker/x64/Debug/message-broker.Build.CppClean.log
message-broker/x64/Debug/message-broker.exe.recipe
message-broker/x64/Debug/message-broker.ilk
message-broker/x64/Debug/message-broker.log
message-broker/x64/Debug/message-broker.tlog/CL.command.1.tlog
message-broker/x64/Debug/message-broker.tlog/Cl.items.tlog
message-broker/x64/Debug/message-broker.tlog/CL.read.1.tlog
message-broker/x64/Debug/message-broker.tlog/CL.write.1.tlog
message-broker/x64/Debug/message-broker.tlog/link.command.1.tlog
message-broker/x64/Debug/message-broker.tlog/link.read.1.tlog
message-broker/x64/Debug/message-broker.tlog/link.write.1.tlog
message-broker/x64/Debug/message-broker.tlog/message-broker.lastbuildstate
message-broker/x64/Debug/message-broker.vcxproj.FileListAbsolute.txt
message-broker/x64/Debug/message-broker_MD.tlog/CL.command.1.tlog
message-broker/x64/Debug/message-broker_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
message-broker/x64/Debug/message-broker_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
message-broker/x64/Debug/topic_manager.h.ifc
message-broker/x64/Debug/topic_manager.h.ifc.d.json
message-broker/x64/Debug/topic_manager.h.module.json
message-broker/x64/Debug/topic_manager.h.obj
message-broker/x64/Debug/topic_manager.h_16FDA500829B60D8.ifc.dt.d.json
message-broker/x64/Debug/topic_manager.h_16FDA500829B60D8.ifc.dt.module.json
message-broker/x64/Debug/topic_manager.h_16FDA500829B60D8.ifc.dt.module.json.command
message-broker/x64/Debug/topic_manager.h_5D3F2DD40CCB0C16.ifc.dt.d.json
message-broker/x64/Debug/topic_manager.h_5D3F2DD40CCB0C16.ifc.dt.module.json
message-broker/x64/Debug/topic_manager.h_5D3F2DD40CCB0C16.ifc.dt.module.json.command
message-broker/x64/Debug/topic_manager.obj
message-broker/x64/Debug/vc143.idb
message-broker/x64/Debug/vc143.pdb
x64/Debug/message-broker.pdb
.vs/message-broker/FileContentIndex/cd002389-1efd-4d98-9280-0c262f72eec5.vsidx
.vs/message-broker/FileContentIndex/feb6dcbc-3e44-4453-a57f-a52d4f201922.vsidx
.vs/message-broker-client/FileContentIndex/e99c437a-88bc-4859-afd6-6111db504ae9.vsidx
.vs/message-broker/FileContentIndex/1d073780-6f1f-4623-b33f-119aecc227d1.vsidx
.vs/message-broker/FileContentIndex/29dd5e3b-3878-4945-a6f5-42950439028d.vsidx
.vs/message-broker/FileContentIndex/bad9aa93-5a99-40d8-ad95-e5ccf40cbcc0.vsidx
.vs/message-broker/FileContentIndex/e7d104a1-463d-472a-bf83-5d9c39ad545f.vsidx
x64/Debug/message-broker-client.pdb
message-broker/logs.seg0
x64/Debug/message-broker-client.exe
x64/Debug/message-broker.exe
message-broker/broker_log.offset
message-broker/broker_log.seg0
x64/Debug/message-broker.exe
.idea/message-broker.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
x64/Debug/message-broker.exe
.vs/message-broker-client/FileContentIndex/558af114-211d-4e98-bad0-a7db0d2886f1.vsidx
.vs/message-broker/FileContentIndex/3e66d977-dadd-4c03-864c-967865f3c936.vsidx
.vs/message-broker/FileContentIndex/a23f6427-714a-4005-96e7-15ab7e918b8f.vsidx
.vs/message-broker/FileContentIndex/a37d3a1e-c31d-49a4-be46-2f550c73f184.vsidx
.vs/message-broker/FileContentIndex/dd7f5228-3d61-4370-9cf8-3b22881be396.vsidx
.vs/message-broker/FileContentIndex/f88e9247-bd95-4339-b53e-3a8aa94fba89.vsidx
.vs/message-broker/v17/ipch/AutoPCH/2989ffea108f0b74/TOPIC_MANAGER.ipch
.vs/message-broker/v17/ipch/AutoPCH/46b00aecde6eadc2/DISK_HANDLER.ipch
.vs/message-broker/v17/ipch/AutoPCH/b7806ccdbb4fb396/BUFFER_POOL.ipch
.vs/message-broker/v17/ipch/AutoPCH/f9674b497b89337d/TOPIC_MANAGER.ipch
message-broker/broker_log_00000.log
